################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LoonCallsMod
/obj/Debug/net6.0
/.vs
/obj/Release/net6.0
